{% extends 'base.html' %}

<!--Template for 404 page: page not found -->
{% block header %}
{% endblock %}

{% block content %}
    <section class="min-vh-100 py-5 o-hidden">
      <div class="container">
        <div class="row text-center py-6">
          <div class="col layer-2">
            <h1 class="display-1 mb-0">404</h1>
            <h2 class="h1">Page not found</h2>
            <div class="lead mb-4">It appears the page you were looking for couldn’t be found.</div>
            <a class="btn btn-primary btn-lg" href="{{ url_for('intro.index')}}">Go back to home</a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}