<!--All templates extends from this basic template (nav bar, bottom section)-->
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Debate Star Web Interface</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/loader-typing.css') }}" type="text/css">   
    <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/Inter-UI-upright.var.woff2') }}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/Inter-UI.var.woff2') }}" type="font/woff2" crossorigin="anonymous">
</head>

<body>
    <div class="loader">
      <div class="loading-animation"></div>
    </div>

    <div class="navbar-container">
      <nav class="navbar navbar-expand-lg justify-content-between navbar-light border-bottom-0 bg-white" data-sticky="top">
        <div class="container">
          <div class="col flex-fill px-0 d-flex justify-content-between">
            <a class="navbar-brand mr-0 fade-page" href="{{ url_for('intro.index') }}">
              DebateStar
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
              <img class="icon navbar-toggler-open" src="{{ url_for('static', filename='img/icons/interface/menu.svg') }}" alt="menu interface icon" data-inject-svg />
              <img class="icon navbar-toggler-close" src="{{ url_for('static', filename='img/icons/interface/cross.svg') }}" alt="cross interface icon" data-inject-svg />
            </button>
          </div>
          <div class="collapse navbar-collapse col px-0 px-lg-2 flex-fill">
            <div class="py-2 py-lg-0">
              <ul class="navbar-nav">       
                <li class="nav-item"><a href="{{ url_for('intro.index') }}" class="nav-link">Introduction</a></li>
                <li class="nav-item"><a href="{{ url_for('demo.demo') }}" class="nav-link">Demos</a></li>
                <li class="nav-item"><a href="{{ url_for('demo.text') }}" class="nav-link">TextAnalytics</a></li>
                <li class="nav-item"><a href="{{ url_for('team.team') }}" class="nav-link">Team</a></li>
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">Support</a>
                  <div class="dropdown-menu row">
                    <div class="col-auto px-0" data-dropdown-content>
                      <div class="bg-white rounded border shadow-lg o-hidden">
                        <div class="p-3">
                          <h6 class="mb-0">Product Support</h6>
                        </div>
                        <div class="list-group list-group-flush">
                          <a href="https://github.com/maoli131/DebateStar" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-3">
                            <img class="icon icon-md" src="{{ url_for('static', filename='img/icons/theme/files/selected-file.svg') }}" alt="selected-file icon" data-inject-svg />
                            <div class="text-body ml-3">
                              <span>NLP Engine</span>
                              <div class="text-small text-muted">Learn more about our ML model</div>
                            </div>
                          </a>
                          <a href="https://github.com/maoli131/DebateStarWeb" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-3">
                            <img class="icon icon-md" src="{{ url_for('static', filename='img/icons/theme/communication/chat-4.svg') }}" alt="chat-4 icon" data-inject-svg />
                            <div class="text-body ml-3">
                              <span>Online Platform</span>
                              <div class="text-small text-muted">Learn more about our platform</div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="collapse navbar-collapse justify-content-end col flex-fill px-0"><a href="{{ url_for('demo.text') }}" class="btn btn-primary ml-lg-3">Launch</a>

          </div>
        </div>
      </nav>
    </div>

    <!-- <section class="content">
        <header> -->
    {% block header %}{% endblock %}
        <!-- </header> -->
    {% block content %}{% endblock %}
    <!-- </section> -->

    <footer class="pb-5 bg-primary-3 text-light">
      <div class="container">
        <div class="row mb-4 justify-content-center">
          <div class="col-auto">
            <a href="{{ url_for('intro.index') }}">DebateStar</a>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <ul class="nav justify-content-center">
              <li class="nav-item"><a href="{{ url_for('intro.index') }}" class="nav-link">Introduction</a>
              </li>
              <li class="nav-item"><a href="{{ url_for('demo.demo') }}" class="nav-link">Demos</a>
              </li>
              <li class="nav-item"><a href="{{ url_for('demo.text') }}" class="nav-link">TextAnalytics</a>
              </li>
              <li class="nav-item"><a href="{{ url_for('team.team') }}" class="nav-link">Teams</a>
              </li>
              <li class="nav-item"><a href="#" class="nav-link">Support</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-xl-10">
            <small class="text-muted">&copy;2020 DebateStar All Rights Reserved.</small>
          </div>
        </div>
      </div>
    </footer>


    <!-- Javascript files -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/flatpickr.min.js') }}"></script>
    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/ion.rangeSlider.min.js') }}"></script>
    <!-- Isotope (masonry layouts and filtering) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plyr.polyfilled.min.js') }}"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/prism.js') }}"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/scrollMonitor.js') }}"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/smooth-scroll.polyfills.min.js') }}"></script>
    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/svg-injector.umd.production.js') }}"></script>
    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/twitterFetcher_min.js') }}"></script>
    <!-- Typed text (animated typing effect)-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/typed.min.js') }}"></script>
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script type="text/javascript">
      window.addEventListener("load", function () {    document.querySelector('body').classList.add('loaded');  });
    </script>

</body>

</html>