{% extends 'base.html' %}

<!--Template for Demo: show persuasiveness score -->
{% block header %}
{% endblock %}

{% block content %}
    
    <section class="jarallax min-vh-80 d-flex flex-column justify-content-center pb-0 o-hidden" data-jarallax data-speed="0.2" data-overlay>
      <img src=" {{ url_for('static', filename='img/inner-1.jpg') }}" alt="Image" class="jarallax-img opacity-80">
      <div class="container py-5 position-relative">
        <div class="row">
          <div class="text-light col-xl-6 col-lg-7 col-md-9">
            <h1 class="display-4">Choose a debate to analyze</h1>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="card card-body">
              <form class="row">
                <div class="col-lg">
                  <div class="form-group mb-lg-0">
                    <input type="text" value="2019-11-12" class="form-control form-control-lg" data-flatpickr data-alt-input="true" data-date-format="Y-m-d" />
                  </div>
                </div>
                <div class="col-lg">
                  <div class="form-group mb-lg-0">
                    <select class="custom-select custom-select-lg">
                      <option>Topics</option>
                      <option selected value="1">Capitalism Is a Blessing</option>
                      <option value="2">Parenting Is Overrated - available soon</option>
                      <option value="3">Europe Has Declared War on American Tech Companies - available soon</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-auto">
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Find a debate</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="decoration-wrapper">
        <div class="decoration bottom left scale-2 flip-y d-none d-xl-block" data-jarallax-element="50">
          <img class="bg-white" src=" {{ url_for('static', filename='img/decorations/deco-dots-4.svg') }}" alt="deco-dots-4 decoration" data-inject-svg />
        </div>
        <div class="decoration bottom right scale-3" data-jarallax-element="80">
          <img class="bg-primary-2" src=" {{ url_for('static', filename='img/decorations/deco-blob-13.svg') }}" alt="deco-blob-13 decoration" data-inject-svg />
        </div>
      </div>
    </section>

    <section class="bg-primary-alt">
      <div class="container pb-0">
        <div class="row justify-content-center text-center mb-6">
          <div class="col-xl-8 col-lg-9">
            <h2 class="display-4 mx-xl-6">Who will win?</h2>
            <p class="lead">
              Our NLP engine aims to understand the logical structures, persuasive ideas and even the emotions of 
              the debaters' speeches. As the debate progresses, it dynamically updates its prediction. Here is a preliminary demo.  
            </p>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-md-4 mb-3 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="100">
            <span id="forrate" class="display-4 text-primary-2 d-block">NA</span>
            <span class="h6">For the Motion winning rate</span>
          </div>
          <div class="col-md-4 mb-3 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="300">
            <span id="againstrate" class="display-4 text-primary-2 d-block">NA</span>
            <span class="h6">Against the Motion winning rate</span>
          </div>
        </div>
        <div class="row justify-content-center mt-6 mb-lg-n7">
          <div class="col-lg-8 col-xl-7">
            <div class="alert alert-primary">Scores dynamically udpate as video progress</div>       
            <div id="vplayer" class="plyr__video-embed rounded">
              <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/ROT2HjxovsE?enablejsapi=1" 
                      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                      allowfullscreen enablejsapi="1">
              </iframe>
            </div> 
          </div> 
          <!-- <div class="col-xl-8 col-lg-9 layer-1">
            <div class="alert alert-secondary">Some functionality still under construction. Stay Tuned.</div>
            <div class="video-poster rounded shadow-lg">
              <div class="plyr" data-plyr-provider="youtube" data-plyr-embed-id="ROT2HjxovsE"></div>
              <a data-fancybox href="https://youtu.be/ROT2HjxovsE" class="btn btn-lg btn-primary btn-round">
                <img class="icon" src="{{ url_for('static', filename='img/icons/theme/media/play.svg') }}" alt="play icon" data-inject-svg />
              </a>
              <img src="https://wds.advection.net/iq2/img/capitalism_is_a_blessing/Capitalism_debateart.png" alt="Image">
            </div>
          </div> -->
        </div>
      </div>
    </section>
    
    <div class="divider">
        <img class="bg-primary-3" src=" {{ url_for('static', filename='img/dividers/divider-1.svg') }}" alt="divider graphic" data-inject-svg />
    </div>

    <section class="bg-primary-3 text-light mb-lg-n7">
      <div class="container pb-md-6">
        <div class="row mb-4">
          <div class="col">
            <h2 class="h1">Summerization</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="ml-3">
              <h5>Main Point 1</h5>
              <p>
                By promoting market competition and rewarding innovation, capitalism has lifted billions out of poverty and ensured consumers have access to cutting-edge ideas and products while hard-working and industrious workers reap the rewards of their efforts. 
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="ml-3">
              <h5>Main Point 2</h5>
              <p>
                Under the capitalist system, workers from every social and economic background have the opportunity to compete in the free market and to have their talents recognized. This promotes social equality and provides for upward social mobility.  
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="300">
            <div class="ml-3">
              <h5>Main Point 3</h5>
              <p>
                Capitalism provides workers and consumers alike the freedom to choose where to earn and spend their money, contributing to an overall society where the free exchange of goods and ideas is paramount.  
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="400">
            <div class="ml-3">
              <h5>Counter Point 1</h5>
              <p>
                Capitalism serves the interests of large corporations and business, not consumers or workers. Rather than benefiting individuals, the market system prioritizes profits and contributes to social harms including income inequality and poor labor conditions.  
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="500">
            <div class="ml-3">
              <h5>Counter Point 2</h5>
              <p>
                Free markets are often criticized for disproportionately benefitting those who have existing resources and capital to support their vision. Plus, capitalism often depreciates those who are not able to work and produce wealth. 
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="600">
            <div class="ml-3">
              <h5>Counter Point 3</h5>
              <p>
                Some argue that capitalism is dependent on a culture of consumption, which can lead to unsustainable waste and social and environmental problems globally.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}