{% extends 'base.html' %}

<!--Template for Introduction: main page for project entry -->

{% block header %}
{% endblock %}

{% block content %}
    <section>
      <div class="container">
        <div class="row justify-content-center text-center mb-6">
          <div class="col-xl-8 col-lg-9 col-md-10">
            <h1 class="display-4">An open source, interactive debate NLP Engine</h1>
            <p class="lead">
                Powered by advanced NLP engine, DebateStar dynamically generates persuasivness scores for debate scripts. 
                Let's uncover the myth of persuasive debate speeches. 
            </p>
            <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start mt-5">
              <div class="d-flex flex-column mx-1 text-center">
                <a href="https://github.com/maoli131/DebateStar" class="btn btn-lg btn-primary mb-2" target="_blank">
                  <img class="icon" src="{{ url_for('static', filename='img/icons/social/github.svg') }}" alt="github social icon" data-inject-svg />
                  <span>View on Github</span>
                </a>
                <a href="https://github.com/maoli131/DebateStarWeb" class="text-small hover-arrow">View web platform source</a>
              </div>
              <a href="#" class="mx-1 btn btn-lg btn-primary-3 mt-3 mt-sm-0">Luanch Now</a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-9">
            <div class="rounded bg-primary-3 p-4 text-light text-monospace shadow layer-2">
              <div>
                <span class="text-primary-2">$</span>
                <span data-typed-text data-type-speed="50" data-strings='["python application.py"]' data-loop="true" data-back-delay="2000"></span>
              </div>
            </div>
            <div class="decoration bottom right" data-aos="fade-up">
              <img class="bg-primary-2" src="{{ url_for('static', filename='img/decorations/deco-blob-2.svg') }}" alt="deco-blob-2 decoration" data-inject-svg />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-11">
            <div class="row">
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src=" {{ url_for('static', filename='img/icons/theme/general/shield-protected.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Deep Neural Net</h4>
                  <p class="lead pr-xl-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                </div>
              </div>
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src=" {{ url_for('static', filename='img/icons/theme/code/code.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Attention</h4>
                  <p class="lead pr-xl-4">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src=" {{ url_for('static', filename='img/icons/theme/shopping/box-2.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Similarity</h4>
                  <p class="lead pr-xl-4">Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src=" {{ url_for('static', filename='img/icons/theme/weather/cloudy-night.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Finetuned Embedding</h4>
                  <p class="lead pr-xl-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <a href="#" class="lead hover-arrow">Explore all features</a>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-md-0">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card card-body border-0 o-hidden mb-0 shadow-3d text-light bg-primary">
              <div class="position-relative d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="h3 text-center mb-md-0">Start analyzing debate persuasiveness</div>
                <a href="#" class="btn btn-lg btn-white">Launch Now</a>
              </div>
              <div class="decoration layer-0">
                <img class="bg-primary-2" src="{{ url_for('static', filename='img/decorations/deco-blob-1.svg') }} " alt="deco-blob-1 decoration" data-inject-svg />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}