{% extends 'base.html' %}

<!--Template for Team: introduces team members -->

{% block header %}
{% endblock %}

{% block content %}

    <section>
      <div class="container" data-aos="fade-up">
        <div class="row align-items-center justify-content-around">
          <div class="col-md-5 col-xl-6 mb-4 mb-md-0">
            <img src=" {{ url_for('static', filename='img/inner-2.jpg') }} " alt="Image" class="rounded shadow-3d">
          </div>
          <div class="col-md-7 col-xl-6">
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-10">
                <span class="badge badge-primary">Our Mission</span>
                <div class="my-3">
                  <span class="h1">Uncover the myth of persuasive speeches</span>
                </div>
                <p class="lead">We are a group of UC San Diego undergraduate students majoring in data and computer science. We have passion for machine learning and aritificial intelligence.</p>
                <p class="lead mb-0">Under the guidance of prof. Jingbo Shang, we aim to utilize cutting edging NLP researches and tools to analyze debate speeches.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary-alt p-0">
      <div class="container py-6">
        <div class="row mb-4" data-aos="fade-up">
          <div class="col">
            <h2>Our Team</h2>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="NaN">
            <div class="card card-lg card-body align-items-center">
              <img src=" {{ url_for('static', filename='img/avatars/xuanyuwu.jpg') }}" alt="Xuanyu Wu" class="avatar avatar-xlg mb-3">
              <h5 class="mb-0">Xuanyu Wu</h5>
              <span>UC San Diego 2020 Math & Data Science</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="NaN">
            <div class="card card-lg card-body align-items-center">
              <img src=" {{ url_for('static', filename='img/avatars/bozhang.jpg') }}" alt="Bo Zhang" class="avatar avatar-xlg mb-3">
              <h5 class="mb-0">Bo Zhang</h5>
              <span>UC San Diego 2020 Math & Data Science</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="NaN">
            <div class="card card-lg card-body align-items-center">
              <img src=" {{ url_for('static', filename='img/avatars/yifeining.jpg') }}" alt="Mao Li" class="avatar avatar-xlg mb-3">
              <h5 class="mb-0">Yifei Ning</h5>
              <span>UC San Diego 2021 Data Science</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="NaN">
            <div class="card card-lg card-body align-items-center">
              <img src=" {{ url_for('static', filename='img/avatars/maoli.jpg') }}" alt="Mao Li" class="avatar avatar-xlg mb-3">
              <h5 class="mb-0">Mao Li</h5>
              <span>UC San Diego 2020 Computer Science</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="NaN">
            <div class="card card-lg card-body align-items-center">
              <span class="badge badge-primary badge-top">Professor</span>
              <img src=" {{ url_for('static', filename='img/avatars/jingboshang.jpg') }}" alt="Jingbo Shang" class="avatar avatar-xlg mb-3">
              <h5 class="mb-0">Jingbo Shang</h5>
              <span>UC San Diego Assistant Professor</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span>Interested in joining our team? <a href="#">View opportunities</a>
            </span>
          </div>
        </div>
      </div>
    </section>
    
    <section class="o-hidden">
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <h2>Our History</h2>
          </div>
        </div>
        <div class="row o-hidden o-lg-visible">
          <div class="col d-flex flex-column align-items-center">
            <ol class="process-vertical">
              <li data-aos="fade-left">
                <div class="process-circle bg-primary"></div>
                <div>
                  <span class="text-small text-muted">December 2019</span>
                  <h5 class="mb-0">Team formation under Prof. Shang</h5>
                </div>
              </li>
              <li data-aos="fade-left">
                <div class="process-circle bg-primary"></div>
                <div>
                  <span class="text-small text-muted">Jan 2020</span>
                  <h5 class="mb-0">Initial Project Ideas</h5>
                </div>
              </li>
              <li data-aos="fade-left">
                <div class="process-circle bg-primary"></div>
                <div>
                  <span class="text-small text-muted">Winter 2020</span>
                  <h5 class="mb-0">NLP Engine Development</h5>
                </div>
              </li>
              <li data-aos="fade-left">
                <div class="process-circle bg-primary"></div>
                <div>
                  <span class="text-small text-muted">Spring 2020</span>
                  <h5 class="mb-0">Interactive Online Platform Launch</h5>
                </div>
              </li>
              <li data-aos="fade-left">
                <div class="process-circle bg-primary"></div>
                <div>
                  <span class="text-small text-muted">Future</span>
                  <h5 class="mb-0">More NLP task with National Patent Data</h5>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>

    </section>

{% endblock %}