{% extends 'base.html' %}

<!--Template for textAnalytics page: analyze user input text -->
{% block header %}
{% endblock %}

{% block content %}

    <section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2" data-overlay>
      <img src="https://images.unsplash.com/photo-1544531586-fde5298cdd40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="Image" class="jarallax-img opacity-40">
      <div class="container py-0">
        <div class="row my-4 my-md-6" data-aos="fade-up">
          <div class="col-lg-9 col-xl-8">
            <h1 class="display-4">Text Analytics</h1>
            <p class="lead mb-0">Input your debate script and our model automatically computes your persuasivness score.</p>
          </div>
        </div>
      </div>
      <div class="divider">
        <img src=" {{ url_for('static', filename='img/dividers/divider-2.svg') }} " alt="graphical divider" data-inject-svg />
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-8 col-xl-6">
            <div class="text-center mb-4">
              <h2 class="h1">Debate Speech</h2>
              <p class="lead">Type in your debate topic and speeches. Let us do the rest.
              </p>
            </div>
            <form method="post">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Debate topic *</label>
                    <input name="title" type="text" class="form-control" placeholder="Your debate topic here" required>
                    <div class="invalid-feedback">
                      Please provide a topic for the debate.
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>Debate script For side *</label>
                    <textarea class="form-control" name="for-text" rows="20" placeholder="Your debate speech script here." required></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>Debate script Against side *</label>
                    <textarea class="form-control" name="against-text" rows="20" placeholder="Your debate speech script here." required></textarea>
                  </div>
                </div>
                <div class="col">
                  <div class="d-none alert alert-success" role="alert" data-success-message>
                    A persuasiness score will be available soon.
                  </div>
                  <div class="d-none alert alert-danger" role="alert" data-error-message>
                    Please fill all fields correctly.
                  </div>
                  <button type="submit" class="btn btn-primary btn-loading" data-loading-text="Analyze" data-toggle="modal" data-target="#achievement-modal">
                    <img class="icon" src=" {{ url_for('static', filename='img/icons/theme/code/loading.svg') }} " alt="loading icon" data-inject-svg />
                    <span>Analyze</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </section>  
{% endblock %}

